section.coming-soon .continer .counter1 .days, section.coming-soon .continer .counter1 .hours, section.coming-soon .continer .counter1 .minutes, section.coming-soon .continer .counter1 .seconds {
    width: 45%;
    height: 138px;
    float: left;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(250,250,250,0.1);
  }

  section.coming-soon .continer .counter1 .days, section.coming-soon .continer .counter1 .hours, section.coming-soon .continer .counter1 .minutes {
    margin-right: 4%;
  }

  section.coming-soon .continer .counter1 div {
    display: inline-block;
  }